# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
# vscode-sops
.decrypted~*.yaml
.config.env
*.agekey
*.pub
*.key
# Ansible
xanmanning.k3s*
# Terraform
.terraform
.terraform.tfstate*
terraform.tfstate*
onepassword.env
talosconfig
render.yaml
.gitignore
.task/checksum/workstation-brew
.vscode/settings.json
worker.yaml
.gitignore
.gitignore
10.0.70.61.yaml
10.0.70.62.yaml
10.0.70.63.yaml
10.0.70.64.yaml
10.0.70.65.yaml
.gitignore
copy-job.yml
test-pvc.yaml
kubernetes/apps/home-automation/home-assistant/app/resources/wh51.yaml
10.0.70.66.yaml
test-pvc.yaml
talos/talos-*.iso
secrets.yaml
