---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app librespeed
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    configMaps:
        config:
          data:
            servers: |-
              [
                  {
                      "name": "Home",
                      "server" :"//librespeed.markmckessock.com/",
                      "dlURL" :"garbage.php",
                      "ulURL" :"empty.php",
                      "pingURL" :"empty.php",
                      "getIpURL" :"getIP.php"
                  },
              ]
    controllers:
      librespeed:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/librespeed/speedtest
              tag: latest@sha256:f328730f5562ceb27431f87208e99c86bd5f62fc70032421f032125333ddd5c1
            env:
              - name: MODE
                value: standalone
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  failureThreshold: 3
                  periodSeconds: 30
                  httpGet:
                    path: /
                    port: 8080
                    scheme: HTTP
              readiness:
                enabled: true
                custom: true
                spec:
                  periodSeconds: 30
                  httpGet:
                    path: /
                    port: 8080
                    scheme: HTTP
            resources:
              requests:
                cpu: 250m
                memory: 512Mi
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 8080
    route:
      app:
        hostnames: ["{{ .Release.Name }}.markmckessock.com"]
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      servers:
        type: configMap
        name: librespeed-config
        globalMounts:
          - path: /servers.json
            subPath: servers
