# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: valkey
  namespace: immich
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    # defaultPodOptions:
    #   securityContext:
    #     runAsNonRoot: true
    #     runAsUser: 1000
    #     runAsGroup: 1000
    #     fsGroup: 1000
    #     fsGroupChangePolicy: OnRootMismatch
    #     seccompProfile: {type: RuntimeDefault}

    controllers:
      main:
        type: deployment
        strategy: Recreate
        containers:
          main:
            image:
              repository: docker.io/valkey/valkey
              tag: 9.0-alpine@sha256:ad4541b28b017bf4cd83ee057c51aafb21ea32e898e3f3b8b75e268650f2ac20
              pullPolicy: IfNotPresent
            ports:
              - name: redis
                containerPort: 6379
                protocol: TCP
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  exec:
                    command:
                      - sh
                      - -c
                      - "valkey-cli ping | grep PONG"
                  initialDelaySeconds: 30
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 3
              readiness:
                enabled: true
                custom: true
                spec:
                  exec:
                    command:
                      - sh
                      - -c
                      - "valkey-cli ping | grep PONG"
                  initialDelaySeconds: 5
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 3
              startup:
                enabled: true
                custom: true
                spec:
                  exec:
                    command:
                      - sh
                      - -c
                      - "valkey-cli ping | grep PONG"
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 30

    persistence:
      data:
        enabled: true
        # size: 1Gi
        # Optional: Set this to persistentVolumeClaim to keep job queues persistent
        type: emptyDir
        # accessMode: ReadWriteOnce
        # storageClass: your-class

    service:
      main:
        enabled: true
        controller: main
        primary: true
        type: ClusterIP
        ports:
          redis:
            enabled: true
            primary: true
            port: 6379
            targetPort: redis
            protocol: TCP
          http:
            enabled: false