---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app qbittorrent
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.2@sha256:31ac39705e31f7cdcc04dc46c1c0b0cdf8dc6f9865d4894efc097a33adc41524
            env:
              QBT_TORRENTING_PORT: &bittorrentPort 50413
              QBT_WEBUI_PORT: &port 8080
              QBT_Preferences__WebUI__AlternativeUIEnabled: true
              QBT_Preferences__WebUI__RootFolder: /addons/vuetorrent
              TZ: America/Los_Angeles
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v2/app/version
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 6Gi
            securityContext:
              runAsNonRoot: true
              runAsUser: 1000
              runAsGroup: 1000
              fsGroup: 1000
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
              fsGroupChangePolicy: OnRootMismatch
          gluetun:
            dependsOn: main
            image:
              repository: ghcr.io/qdm12/gluetun
              tag: latest
            env:
              VPN_SERVICE_PROVIDER: "private internet access"
              SERVER_REGIONS: "CA Vancouver"
              PORT_FORWARD_ONLY: "true"
              VPN_PORT_FORWARDING: "on"
              VPN_PORT_FORWARDING_STATUS_FILE: "/tmp/gluetun/forwarded_port"
              DOT: "off"
              FIREWALL_INPUT_PORTS: 8080
              FIREWALL_OUTBOUND_SUBNETS: 10.96.0.0/12,10.244.0.0/16 # Allow access to k8s subnets
            envFrom:
              - secretRef:
                  name: pia-vpn-credentials
            securityContext:
              privileged: true
              capabilities:
                add:
                  - NET_ADMIN
                  - SYS_MODULE
          port-forward:
            dependsOn: gluetun
            image:
              repository: docker.io/snoringdragon/gluetun-qbittorrent-port-manager
              tag: "1.3"
            env:
              - name: QBITTORRENT_SERVER
                value: localhost
              - name: QBITTORRENT_PORT
                value: "8080"
              - name: PORT_FORWARDED
                value: "/tmp/gluetun/forwarded_port"
        initContainers:
          custom-webui:
            image:
              repository: docker.io/curlimages/curl
              tag: 8.12.1
            command:
              - "/bin/sh"
              - "-c"
              - "cd /addons && curl -o- -sL https://github.com/VueTorrent/VueTorrent/releases/download/v2.23.1/vuetorrent.zip | unzip -"
            securityContext:
              runAsUser: 1000
              runAsGroup: 1000
              fsGroup: 1000
              fsGroupChangePolicy: OnRootMismatch
    defaultPodOptions:
      automountServiceAccountToken: false
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.markmckessock.com"
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    service:
      main:
        controller: main
        type: ClusterIP
        ports:
          http:
            port: *port
    persistence:
      config:
        existingClaim: *app
      downloads:
        type: nfs
        server: granite.markmckessock.com
        path: /volume1/Downloads
        globalMounts:
          - path: /downloads
      addons:
        type: emptyDir
        globalMounts:
          - path: /addons
      media:
        type: nfs
        server: granite.markmckessock.com
        path: /volume1/Media
        globalMounts:
          - path: /media
      gluetun-data:
        type: emptyDir
        advancedMounts:
          main:
            gluetun:
              - path: /tmp/gluetun
            port-forward:
              - path: /tmp/gluetun
                readOnly: true
