---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # Pre Flux-Kustomizations
  - ./namespace.yaml
  # Flux-Kustomizations
  - ./firefly/ks.yaml
  - ./vaultwarden/ks.yaml
  - mc-atm8/ks.yaml
  - redis-ha/ks.yaml
  - netbox/ks.yaml
