---
machine:
  network:
    hostname: triton.neptune.kube.markmckessock.com
    interfaces:
      - interface: bond0
        bond:
          deviceSelectors:
            - hardwareAddr: 58:47:ca:7c:05:6e
            - hardwareAddr: 58:47:ca:7c:05:6f
          mode: active-backup
        vip:
          ip: 10.0.70.60
        dhcp: true
        mtu: 9000
  nodeLabels:
    topology.kubernetes.io/zone: m
    intel.feature.node.kubernetes.io/gpu: "true"
  type: controlplane
  install:
    disk: /dev/disk/by-id/nvme-KINGSTON_OM8PGP41024N-A0_50026B7383A04617