---
machine:
  network:
    hostname: neso.neptune.kube.markmckessock.com
    interfaces:
      - interface: bond0
        bond:
          deviceSelectors:
            - hardwareAddr: 58:47:ca:7f:4d:f0
            - hardwareAddr: 58:47:ca:7f:4d:f1
  nodeLabels:
    topology.kubernetes.io/zone: m
  type: controlplane
  install:
    disk: /dev/disk/by-id/nvme-KINGSTON_OM8TAP41024K1-A00_50026B7383C07F58