---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: goldilocks
  namespace: observability
spec:
  interval: 30m
  chart:
    spec:
      chart: goldilocks
      version: 9.2.0
      sourceRef:
        kind: HelmRepository
        name: fairwinds
        namespace: flux-system
      interval: 30m
  timeout: 20m
  values:
    controller:
      resources:
        requests:
          cpu: 15m
          memory: 145M
        limits:
          cpu: 50m
          memory: 174M
    dashboard:
      replicaCount: 1
      resources:
        requests:
          cpu: 15m
          memory: 64M
        limits:
          cpu: 50m
          memory: 64M
