---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app monica
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      monica:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18
            envFrom: &envFrom
              - secretRef:
                  name: monica-secret
          copy-public-html:
            image:
              repository: monica
              tag: 5.0-fpm-alpine
            command: [sh, -c, cp -a /var/www/html/* /html]
        containers:
          app:
            image:
              repository: monica
              tag: 5.0-fpm-alpine
            envFrom: *envFrom
            # probes:
            #   liveness: &probes
            #     enabled: true
            #     custom: true
            #     spec:
            #       httpGet:
            #         path: /ping
            #         port: *port
            #       initialDelaySeconds: 0
            #       periodSeconds: 10
            #       timeoutSeconds: 1
            #       failureThreshold: 3
            #   readiness: *probes
            resources:
              requests:
                cpu: 200m
              limits:
                memory: 512Mi
          nginx:
            enabled: true
            image:
              repository: nginx
              tag: alpine
            envFrom: *envFrom
            # probes:
            #   liveness: &probes
            #     enabled: true
            #     custom: true
            #     spec:
            #       httpGet:
            #         path: /ping
            #         port: *port
            #       initialDelaySeconds: 0
            #       periodSeconds: 10
            #       timeoutSeconds: 1
            #       failureThreshold: 3
            #   readiness: *probes
            resources:
              requests:
                cpu: 200m
              limits:
                memory: 512Mi

    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /var/www/html/storage
      html:
        type: emptyDir
        globalMounts:
          - path: /html
        advancedMounts:
          monica:
            nginx:
              - path: /var/www/html
      nginx:
        type: configMap
        name: nginx-config
        advancedMounts:
          monica:
            nginx:
              - path: /etc/nginx/nginx.conf
                subPath: nginx.conf
                readOnly: true

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.markmckessock.com"
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: &port 80
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
