# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: machine-learning
  namespace: immich
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    controllers:
      main:
        type: deployment
        strategy: RollingUpdate
        containers:
          main:
            image:
              repository: ghcr.io/immich-app/immich-machine-learning
              pullPolicy: IfNotPresent
              tag: v2.2.0
            env:
              REDIS_HOSTNAME: 'valkey.immich.svc'
              TRANSFORMERS_CACHE: /cache
            ports:
              - name: http
                containerPort: 3003
                protocol: TCP
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: http
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: http
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 60

    service:
      main:
        enabled: true
        controller: main
        primary: true
        type: ClusterIP
        ports:
          http:
            enabled: true
            primary: true
            port: 3003
            targetPort: http
            protocol: HTTP

    persistence:
      cache:
        enabled: true
        size: 10Gi
        type: persistentVolumeClaim
        accessMode: ReadWriteMany
        storageClass: rook-ceph